@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    opacity: 0.2;
}
.card-color{
    @apply bg-orange-400;
}
ul{
    list-style-type: circle;
  }
.secScroll::-webkit-scrollbar {
    width: 1em;
}
 
.secScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.secScroll::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  outline: 0px solid rgb(255, 255, 255);
}
@font-face {
    font-family: pop;
    src: url('../assets/font/Poppins-Regular.ttf');
}
body{
    font-family: pop, sans-serif;
}