@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    opacity: 0.2;
}
.card-color{
    @apply bg-orange-400;
}
ul{
    list-style-type: circle;
  }
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}